.bio {
    width: 90%;
    margin: 5vh auto;
    max-width: 800px;
    min-height:100vh;
    h2 {
        margin-bottom: 10px;
    }

    .greeting, .team-leadership, .open-source {
        background: turquoise;
        padding: 10px;
        color: #393E41;
        margin: 10px;
        border-radius: 10px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        

        p {
            text-align: left;
        }
        .skills {
            margin-top: 10px;
        }
        
    }
    button {
        background: #E94F37;
        border:none;
        color: #f7f7f7;
        padding: 15px;
        font-size: 20px;
        border-radius: 10px;
        cursor:pointer;
        border: 1px solid black;
        &:active {
            transform: scale(.97)
        }
    } 

    .top-row {
        display: flex;
        
        .greeting {
            width: 60%;
            @media (max-width: 800px) {
                width: 97%;
            }
        }
        .team-leadership {
            width: 40%;
            @media (max-width: 800px) {
                width: 97%;
            }
        }
        .open-source {
            @media (max-width: 800px) {
                width: 100%;
            }
        }
        @media (max-width: 800px) {
            flex-direction:column;
        }
    }

}