.contact-page {
    span {
        cursor:progress;
    }

    .contact-icons {
        width: 80%;
        margin: 0 auto;
        display:flex;
        align-items:center;
        justify-content:space-around;
        a {
            height: 20%;
            width: 20%;
        } img {
            height: 100%;
            width:100%;

        }
    }


}