.contact-page {
    span {
        cursor:progress;
    }

    .contact-cta {
        width: 70%;
        margin: 1% auto;
    }

    .contact-icons {
        width: 60%;
        margin: 2% auto;
        max-width: 800px;
        display:flex;
        background: whitesmoke;
        border-radius:20px;
        padding:20px;
        padding-bottom:10px;
        align-items:center;
        justify-content:space-around;
        a {
            height: 20%;
            width: 20%;
        } img {
            height: 100%;
            width:100%;

            animation-name: spinner-rev;
            animation-timing-function: ease;
            animation-iteration-count: 1;
            animation-duration: 1s;
            animation-fill-mode: forwards;
        }
        img:hover {
            animation-name: spinner;
            animation-timing-function: ease;
            animation-iteration-count: 1;
            animation-duration: 1s;
            animation-fill-mode: forwards;
        }

        @keyframes spinner {
            from {
                transform: translateY(0px);
            }
            to {
                transform: translateY(-20px) scale(1.05);
            }
        }
        @keyframes spinner-rev {
            from {
                transform: translateY(-20px) scale(1.05);
            }
            to {
                transform: translateY(0px);
            }
        }
    }
}
