.project-grid {
    display:flex;
    flex-flow: row wrap;
    margin: 0 auto;
    width: 100%;

    .project {
        width:47%;
        padding: 10px;
        background:oldlace;
        margin: 1% auto;
        border: 1px solid black;
        border-radius: 10px;
        
    }
    .project-image {
        width:100%;
        border: 1px solid black;
    }
}