* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  // background-image: url("./assets/mike.jpg");
  background: #393E41;
  // padding-bottom: .01%;
  color: rgb(233, 233, 233);
  min-height:100vh;
  overflow: hidden;
}

p, h1,h2,h3,h4,h5 {
  margin: 0% 3%;
}





